<h1>Total</h1>

<p>The total quote for your funeral is {{ formData.total | currency }}</p>

<p>Please leave us your contact information so we can email you the quote and follow up with a call.</p>

<div class="form-horizontal">
    <h4 ng-if="error" class="text-danger">{{ error }}</h4>
    <h4 ng-if="confirm" class="text-success">{{ confirm }}</h4>

    <div class="form-group name">
        <label for="name" class="col-sm-3 control-label">Name <span class="required">*</span></label>
        <div class="col-sm-6">
            <input id="name" type="text" class="form-control" data-ng-model="formData.name" placeholder="Enter your name" required="required">
        </div>
    </div>

    <div class="form-group email">
        <label for="email" class="col-sm-3 control-label">Email <span class="required">*</span></label>
        <div class="col-sm-6">
            <input id="email" type="email" class="form-control" data-ng-model="formData.email" placeholder="Enter your email" required="required">
        </div>
    </div>

    <div class="form-group phone">
        <label for="phone" class="col-sm-3 control-label">Phone Number <span class="required">*</span></label>
        <div class="col-sm-6">
            <input id="phone" type="tel" class="form-control" data-ng-model="formData.phone" placeholder="Enter your contact number" required="required">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-theme">Submit</button>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6 col-sm-3">
        <a data-ui-sref="app.services.custom-quote.miscellaneous" class="btn btn-block btn-info">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
        </a>
    </div>
</div>