<header class="page-heading clearfix">
    <h1 class="heading-title pull-left">About Us</h1>
    <div class="breadcrumbs pull-right">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li><a ui-sref="app.homepage">Home</a><i class="fa fa-angle-right"></i></li>
            <li class="current">About Us</li>
        </ul>
    </div><!--//breadcrumbs-->
</header> 
<div class="row page-row">
    <article class="welcome col-md-8 col-sm-7">                         
        <h3 class="title">About Us</h3>
        <p>Since she was a child, Cheryl has had what she can only describe as a “calling” to this particular industry.  The respect she has for the afterlife and for preserving the memories of those who pass before us is evident in the quality of her craft.  Cheryl is native to Southern California, born and raised in San Diego.  After honorably serving our nation’s armed forces in the Navy, she began her studies with the same zeal and determination applied to her military deployments.  She moved up the coast to Long Beach while earning her mortuary science degrees from Cypress College, later to obtain her Funeral Directors and Embalmers licenses.  Then a little further north to Santa Monica as she finished business school at Concordia University, receiving her Business Administration Degree.  Now Cheryl has the opportunity to fulfill the calling she has heard her whole life.</p>

        <p>Cheryl Nazworth, with the support of her husband Lewis Boole and her associate Jarrett Schneider, have founded Beacon Mortuary.  Our mortuary is tailored for independent and forward thinking families.  The traditional method of preparing grievances has been slow to change.  Beacon Mortuary is looking to diverge from this antiquated process of haggling amenities from grieving families. Instead, we enable the families we serve by providing important tools needed to make decisions regarding their funeral arrangements, all before involving outside assistance from funeral home staff.  This website has been designed to provide transparent pricing and the necessary resources needed so you can independently, and with confidence, plan how your recently departed’s memories will be shared. One of our goals at Beacon Mortuary is to relieve anxieties of the unknown and lend support to families in a time of need, giving them the empathy and compassion they deserve.</p>

        <p>Another exciting and progressive goal Beacon Mortuary has chosen to adopt is encouraging our community to join us as we attempt to rout cancer, heart disease, diabetes, obesity, and other diet related diseases by way of responsibly treating our bodies and our environment. Our team focuses on nutrition and has adopted a plant-based diet to help improve quality of life. Cheryl has made a conscience effort to help educate others of the benefits provided by incorporating a rich amount of raw fruits and vegetables into our diets to ensure the aging process continues and remains graceful. We offer an online resource for healthy living, including delicious recipes and informative motivational videos.</p>

        <p>Although, we pride ourselves on enabling families and communities to be as independent as possible, we realize at one point everyone will need help. Our family is here to assist yours in life and in death. We are open and available for assistance and will try to answers any questions that may arise.
        </p>
    </article><!--//page-content-->
    <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">                    
        <section class="widget has-divider">
            <h3 class="title">Consumer Guide</h3>
            <p>The Consumer’s Guide for Funeral and Cemetery Purchases is a resource of information. This guide informs families of their rights when negotiating purchases of goods and services from any Funeral home. Please review this guide.</p>
            <a class="btn btn-theme" href="https://s3.amazonaws.com/beacon-mortuary-assets/consumer_guide.pdf" target="_blank"><i class="fa fa-download"></i>Download Guide</a>
        </section><!--//widget-->
        <section class="widget">
            <h3 class="title">Contact</h3>
            <p class="tel"><i class="fa fa-phone"></i>Tel: <a href="tel:1-424-324-9474">(424) 324-9474</a></p>
            <p class="email"><i class="fa fa-envelope"></i>Email: <a href="mailto:cheryl@beaconmortuary.com">cheryl@beaconmortuary.com</a></p>
        </section><!--//widget--> 
    </aside>
</div><!--//page-row-->

