<header class="page-heading clearfix">
    <h1 class="heading-title pull-left">About Us</h1>
    <div class="breadcrumbs pull-right">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li><a ui-sref="app.homepage">Home</a><i class="fa fa-angle-right"></i></li>
            <li class="current">About Us</li>
        </ul>
    </div><!--//breadcrumbs-->
</header> 
<div class="row page-row">
    <article class="welcome col-md-8 col-sm-7">                         
        <h3 class="title">About Us</h3>
        <p>Beacon Mortuary’s philosophy is to tailor the funeral arrangement process for independent and forward thinking families. It was evident to Beacon Mortuary’s founder Cheryl Nazworth; the traditional methods of the funeral industry have been slow to change.  With the help of her husband "Lewis Boole" and associate "Emily Graves", the principles that built the foundation of the business are being practiced. As a funeral home, Beacon Mortuary is looking to diverge from the antiquated process of haggling amenities from grieving families. The cornerstone of this website design is to provide transparent pricing and all necessary resources before involving outside assistance from funeral home staff. We believe you have the right to independently and with confidence, plan how your recently departed will be remembered and celebrated.</p>

        <p>One of our goals at Beacon Mortuary is to relieve the anxieties of the unknown. We are here to support the families we serve in a time of need, providing them with the tender empathy and compassion they deserve.</p>

        <p>Our business model will provide all aspects of the process from the comfort of your home. This allows you to choose when and where our assistance would be welcomed. We have no intentions of needlessly imposing company polices as to the time, manner, and place of the funeral arrangements. Beacon Mortuary believes there is no need to be outside your element when making stressful or difficult decisions.  In addition, you can take comfort in knowing that all of your families needs are met in-house. Our small and intimate staff sees that no detail is overlooked.</p>

        <p>Beacon Mortuary has a new vision of the funeral industry. Our policies do not focus on higher price points and sales pitches. You will have access to all funeral materials including: pricing, merchandise, and arrangement options. We aim only to guide you while respecting your rights.</p>

        <p>While we pride ourselves on enabling families and communities to be as independent as possible, we realize at one point everyone will need help. Our family is here to assist yours in life and in death. We are open and available for assistance and will answer any questions that may arise.</p>

        <p>“Let us be the light that guides you”</p>

        <p>-Beacon Mortuary</p>
    </article><!--//page-content-->
    <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">                    
        <section class="widget has-divider">
            <h3 class="title">Consumer Guide</h3>
            <p>The Consumer’s Guide for Funeral and Cemetery Purchases is a resource of information. This guide informs families of their rights when negotiating purchases of goods and services from any Funeral home. Please review this guide.</p>
            <a class="btn btn-theme" href="https://s3.amazonaws.com/beacon-mortuary-assets/consumer_guide.pdf" target="_blank"><i class="fa fa-download"></i>Download Guide</a>
        </section><!--//widget-->
        <section class="widget">
            <h3 class="title">Contact</h3>
            <p class="tel"><i class="fa fa-phone"></i>Tel: <a href="tel:1-424-324-9474">(424) 324-9474</a></p>
            <p class="email"><i class="fa fa-envelope"></i>Email: <a href="mailto:cheryl@beaconmortuary.com">cheryl@beaconmortuary.com</a></p>
        </section><!--//widget--> 
    </aside>
</div><!--//page-row-->

