<header class="page-heading clearfix">
    <h1 class="heading-title pull-left">Burial Packages</h1>
    <div class="breadcrumbs pull-right">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
            <li class="current">Burial Packages</li>
        </ul>
    </div><!--//breadcrumbs-->
</header> 
<div class="row page-row">
    <div class="faq-wrapper col-md-8 col-sm-7">              
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                        Direct Burial
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $1,545
                    </h4>
                </div><!--//pane-heading-->
                <div id="collapse-1" class="panel-collapse collapse in">
                    <div class="panel-body">
                    <p>Does not include any visitation or service with the casket present. The following is a list of services included with this package price:</p>
                    <ul><li>Services of the funeral director</li>
                    <li>Transportation of the deceased from place of death</li>
                    <li>Refrigeration</li>
                    <li>The transportation to the remains to a local cemetery within 40 miles</li>
                    <li>Coordinating with the cemetery and necessary paperwork.</li></ul>
                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-2">
                        Graveside Committal
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $2,065
                    </h4>

                </div><!--//pane-heading-->
                <div id="collapse-2" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>Modifiable to meet your needs, the following is a list of services included in this package:</p>
                    <ul><li>Services of Funeral Director, staff, and overhead</li>
                    <li>Transfer of your deceased loved one to our mortuary (25 mile radius)</li>
                    <li>Embalming or refrigeration</li>
                    <li>Dressing, Casketing and Cosmetology</li>
                    <li>Staff and equipment for graveside service between 9am and 5pm</li>
                    <li>Hearse</li></ul>

                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-3">
                        Graveside Committal With Viewing or Service
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $2,865
                    </h4>
            
                </div><!--//pane-heading-->
                <div id="collapse-3" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>Modifiable to meet your needs, the following is a list of services included in this package:
</p>
                    <ul><li>Services of Funeral Director, staff, and overhead</li>
                    <li>Transfer of your deceased loved one to our mortuary (25 mile radius)</li>
                    <li>Embalming</li>
                    <li>Dressing, Casketing, and Cosmetology</li>
                    <li>Staff and equipment for visitation or service and graveside service between 9am and 5pm</li>
                    <li>Hearse</li></ul>
                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-4">
                        Traditional Burial Service
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $3,265
                    </h4>
                </div><!--//pane-heading-->
                <div id="collapse-4" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>The Traditional burial service package includes:</p>
                    <ul><li>Visitation</li>
                    <li>Funeral service</li>
                    <li>Graveside committal service.</li>
                    <li>Services of Funeral Director, staff, and overhead</li>
                    <li>Transfer of your deceased loved one to our mortuary (25 mile radius)</li>
                    <li>Embalming</li>
                    <li>Dressing, Casketing and Cosmetology</li>
                    <li>Staff and equipment for visitation, service and graveside service between 9am and 5pm</li>
                    <li>Hearse</li></ul>
                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
        </div><!--//panel-group-->                                                
    </div><!--//faq-wrapper-->
    <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">                    
        <section class="widget has-divider">
            <h3 class="title">Why College Green Online</h3>
            <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
            <a class="btn btn-theme" href="#"><i class="fa fa-download"></i>Download prospectus</a>
        </section><!--//widget-->
    </aside>
</div><!--//page-row-->