<div class="row">
    <div class="col-xs-3">
        <div class="form-group">
            <label>
                <select name="type" class="by-type form-control" data-ng-model="filterCasketType">
                    <option value="">--- Filter By Type ---</option>
                    <option data-ng-repeat="n in dataMerch.filters.types | orderBy: 'toString()'" value="{{ n }}">{{n}}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>
                <select name="type" class="by-materials form-control" data-ng-model="filterCasketMaterials" data-ng-disabled="!ffMaterials[0]">
                    <option value="">--- Filter By Materials ---</option>
                    <option data-ng-repeat="n in ffMaterials | orderBy: 'toString()'" value="{{ n }}">{{n}}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>
                <select name="type" class="by-finish form-control" data-ng-model="filterCasketFinish" data-ng-disabled="!ffFinish[0]">
                    <option value="">--- Filter By Finish ---</option>
                    <option data-ng-repeat="n in ffFinish | orderBy: 'toString()'" value="{{ n }}">{{n}}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>
                <select name="type" class="by-interior form-control" data-ng-model="filterCasketInterior" data-ng-disabled="!ffInterior[0]">
                    <option value="">--- Filter By Interior ---</option>
                    <option data-ng-repeat="n in ffInterior | orderBy: 'toString()'" value="{{ n }}">{{n}}</option>
                </select>
            </label>
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Type</th>
        <th>Material</th>
        <th>Finish</th>
        <th>Interior</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in dataMerch.items | orderBy:['type','name'] | filter:{ type:filterCasketType } | filter:{ material:filterCasketMaterials } | filter:{ finish:filterCasketFinish } | filter:{ interior:filterCasketInterior }" data-ng-hide="dataMerch == 'undefined'">
        <td>
            <a class="merch-item" href="images/merchandise/full/{{item.img}}" data-lightbox="{{ item.type | slugify }}"><img class="img-responsive" data-ng-src="images/merchandise/thumb/{{item.img}}" alt=""></a>
        </td>
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.material}}</td>
        <td>{{item.finish}}</td>
        <td>{{item.interior}}</td>
        <td>{{item.price | currency}}</td>
    </tr>
    </tbody>
</table>