<header class="page-heading clearfix">
    <h1 class="heading-title pull-left">Cremation Packages</h1>
    <div class="breadcrumbs pull-right">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li><a ui-sref="app.homepage">Home</a><i class="fa fa-angle-right"></i></li>
            <li class="current">Cremation Packages</li>
        </ul>
    </div><!--//breadcrumbs-->
</header> 
<div class="row page-row">
    <div class="faq-wrapper col-md-8 col-sm-7">              
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapse-1">
                        Direct Cremation
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $800
                    </h4>
                </div><!--//pane-heading-->
                <div id="collapse-1" class="panel-collapse collapse in">
                    <div class="panel-body">
                    <p>This includes:</p>
                    <ul><li>The services of the funeral director</li>
                    <li>The transportation of the remains to the funeral home</li>
                    <li>Alternative container</li>
                    <li>Refrigeration</li>
                    <li>Crematory fees</li>
                    <li>And the personal return of the cremated remains to the family</li></ul>
                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="" data-target="#collapse-2">
                        Cremation with a <u>Family-Only I.D. Viewing</u>
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $1,845
                    </h4>

                </div><!--//pane-heading-->
                <div id="collapse-2" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>To Include:</p>
                    <ul><li>Services of Funeral Director, staff, and overhead</li>  
                    <li>Transfer of your deceased loved one to our mortuary (25 mile radius)</li>
                    <li>Refrigeration of un-embalmed remains (5 days)</li>
                    <li>Sanitary care of un-embalmed remains (does not include dressing or cosmetology)</li>
                    <li>Minimum cremation container for family viewing weekday between 9am and 5pm  </li>
                    <li>Crematory fee (up to 300 lbs.)</li></ul>
                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="" data-target="#collapse-3">
                        Cremation with Memorial Services (no viewing)
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $2,000
                    </h4>
            
                </div><!--//pane-heading-->
                <div id="collapse-3" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>This package includes a memorial service held at our mortuary chapel or the location of your choice:</p>
                    <ul><li>Services of Funeral Director, staff, and overhead</li>
                    <li>Transfer of your deceased loved one to our mortuary (25 mile radius)</li>
                    <li>Refrigeration of un-embalmed remains (5 days)</li>
                    <li>Staff and equipment for memorial service weekday between 9am and 5pm</li>
                    <li>Crematory fee (up to 300 lbs.)</li></ul>
                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="" data-target="#collapse-4">
                        Cremation with Choice of Visitation or Service
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $2,415
                    </h4>
                </div><!--//pane-heading-->
                <div id="collapse-4" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>Includes <em>either</em> a visitation or a service at our mortuary chapel, or the location of your choice:</p>
                    <ul><li>Services of Funeral Director, staff, and overhead</li>
                    <li>Transfer of your deceased loved one to our mortuary (25 mile radius)</li>
                    <li>Embalming</li>
                    <li>Dressing, Casketing, and Cosmetology</li>
                    <li>Staff and equipment for visitation weekday between 9am and 5pm</li>
                    <li>Crematory fee (up to 300 lbs.)</li></ul>
                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="" data-target="#collapse-6">
                        Traditional Cremation Service
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $3,215
                    </h4>
                </div><!--//pane-heading-->
                <div id="collapse-6" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>This package includes a visitation and funeral service, weekdays between 9am and 5pm, followed by the cremation. Modifiable to meet your individual needs and choices:</p> 
                    <ul><li>Services of Funeral Director, staff, and overhead</li>
                    <li>Transfer of your deceased loved one to our mortuary (25 mile radius)</li>
                    <li>Embalming</li>
                    <li>Dressing, Casketing, and Cosmetology</li>
                    <li>Staff and equipment for visitation and funeral</li>
                    <li>Hearse</li>
                    <li>Crematory fee (up to 300 lbs.)</li></ul>
                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
        </div><!--//panel-group-->                                                
    </div><!--//faq-wrapper-->
    <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">                    
        <section class="widget has-divider">
            <h3 class="title">Why College Green Online</h3>
            <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
            <a class="btn btn-theme" href="#"><i class="fa fa-download"></i>Download prospectus</a>
        </section><!--//widget-->
    </aside>
</div><!--//page-row-->