<header class="page-heading clearfix">
    <h1 class="heading-title pull-left">Contact Us</h1>
    <div class="breadcrumbs pull-right">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li><a ui-sref="app.homepage">Home</a><i class="fa fa-angle-right"></i></li>
            <li class="current">Contact Us</li>
        </ul>
    </div><!--//breadcrumbs-->
</header> 
<div class="row page-row">
    <div class="faq-wrapper col-md-8 col-sm-7">              
        <p>
        Contact Us for a quote </p>                                                
    </div><!--//faq-wrapper-->
    <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">                    
        <section class="widget has-divider">
            <h3 class="title">Consumer Guide</h3>
            <p>The Consumer’s Guide for Funeral and Cemetery Purchases is a resource of information. This guide informs families of their rights when negotiating purchases of goods and services from any Funeral home. Please review this guide.</p>
            <a class="btn btn-theme" href="https://s3.amazonaws.com/beacon-mortuary-assets/consumer_guide.pdf" target="_blank"><i class="fa fa-download"></i>Download Guide</a>
        </section><!--//widget-->
    </aside>
</div><!--//page-row-->