<header class="page-heading clearfix">
    <h1 class="heading-title pull-left">General Price List</h1>
    <div class="breadcrumbs pull-right">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li><a ui-sref="app.homepage">Home</a><i class="fa fa-angle-right"></i></li>
            <li class="current">General Price List</li>
        </ul>
    </div><!--//breadcrumbs-->
</header> 
<div class="row page-row">
    <div class="faq-wrapper col-md-8 col-sm-7">              

        <p>Prices are effective as of October 15th, 2014 and are subject to change without notice.</p>

        <p>The goods and services shown below are those we can provide to our customers. You may choose only the items you desire. However, any funeral arrangements you select will include a charge for our basic services and overhead. If legal or other requirements mean you must buy any item you did not specifically ask for, we will explain the reason in writing on the statement we provide describing the funeral goods and services you selected.  Sales tax will be added to all merchandise selected for use in this state.</p>

        <p>Prior to drafting any contract for goods or services, the responsible party or the decedents’ survivor who is handling the funeral arrangements is entitled to receive a copy of any preneed agreement in the possession of the Funeral establishment that has been signed and paid for, in full or in part, by or on behalf of the decedent.</p>

        <p>Download Price Lists:</p>
        <ul>
            <li>General Price List</li>
            <li>Casket Price List</li>
            <li>Urn Price List</li>
        </ul>


        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapse-1">
                        Basic Services of Funeral Director and Staff
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $800
                    </h4>
                </div><!--//pane-heading-->
                <div id="collapse-1" class="panel-collapse collapse in">
                    <div class="panel-body">
                    <p>This fee for our basic services and overhead will be added to the total cost of the funeral arrangements you select. (This fee is already included in our charge for all packages, direct cremations, and immediate burials, forwarding and receiving remains). </p>
                    
                    <p>This price covers:</p>
                    
                    <ul><li>Our staff and facilities to respond to your initial request for service 24 hours a day - 7 days a week.</li>
                    <li>Arrangement conference with the family.</li>
                    <li>Coordination service plans with the cemetery, crematory and other parties involved.</li>
                    <li>Clerical and administrative assistance in the completion of various associated documents and forms. </li></ul>

                    <p>The Basic Service fee also covers a proportionate share of overhead costs such as utilities, facilities and equipment maintenance, as well as governmental compliance.</p>

                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="" data-target="#collapse-2">
                        Embalming
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $350
                    </h4>

                </div><!--//pane-heading-->
                <div id="collapse-2" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>Except in certain special cases, law does not require embalming. Embalming may be necessary, however, if you select certain funeral arrangements, such as a funeral with a viewing. If you do not want embalming, you usually have the right to choose an arrangement that does not require you to pay for it, such as direct cremation or immediate burial.</p>
                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="" data-target="#collapse-3">
                        Other Care and Preparations
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $220+
                    </h4>
            
                </div><!--//pane-heading-->
                <div id="collapse-3" class="panel-collapse collapse">
                    <div class="panel-body">
                    <ul><li>Refrigeration, no embalming (up to 5 days) $350.00</li>   
                    <li>Refrigeration (after 5 days $ 75.00 per day)</li>
                    <li>Cosmetics, dressing, casketing and other personal details $ 220.00</li>
                    <li>Autopsy repair, restoration cosmetics (when necessary and authorized) $ 250.00</li></ul>


                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="" data-target="#collapse-4">
                        Use of Facilities and Staff, or Equipment and Staff for Visitation or Service
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $400+
                    </h4>
                </div><!--//pane-heading-->
                <div id="collapse-4" class="panel-collapse collapse">
                    <div class="panel-body">
                    <ul><li>Visitation or service at family’s home or at Malinow and Silverman (Monday trough Friday from 9:00am to 5:00pm for 3 hours) $ 400.00</li>
                    <li>Non-affiliated Chapel, Church or Graveside service (Monday trough Friday from 9:00am to 5:00pm for 3 hours) $ 400.00</li>
                    <li>Viewing for immediate family only $250.00</li>
                    <li>Evenings (after 5:00pm), Weekends and Holidays add $175.00</li>
                    <li>Additional hours (past 3 hours) $75.00 per hour</li>
                    </ul>


                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="" data-target="#collapse-5">
                        Automotive Equipment
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $200+
                    </h4>
                </div><!--//pane-heading-->
                <div id="collapse-5" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>Outside a 25-mile radius, excess mileage will be added.</p>
                    <ul><li>Transfer of deceased to funeral home from medical facility $ 395.00 (pick up from residence, or each additional attendant needed add $75.00)</li>
                    <li>Funeral coach/hearse $ 300.00</li>
                    <li>Limousine (8 passenger) for 3 hours $375.00</li>
                    <li>($110 per additional hour)</li>
                    <li>Motorcycle escorts (one per 6 vehicles in procession, minimum of two), each $200.00 </li></ul>

                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="" data-target="#collapse-6">
                        Forwarding of Remains to another funeral home – Ship-out
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $1,645.00
                    </h4>
                </div><!--//pane-heading-->
                <div id="collapse-6" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>This price includes minimum services of funeral director, transfer of the deceased to the funeral home, standard embalming and transportation to LAX airport.</p>
                    <p>Documentation for international shipping, exclusive of consulate/country fee’s or cash advance items, an additional $ 300.00</p>
                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="" data-target="#collapse-7">
                        Receiving Remains - Basic Ship-in
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $1,195.00
                    </h4>
                </div><!--//pane-heading-->
                <div id="collapse-7" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>This includes minimum services of funeral director, transfer of remains from local airport and transportation to the place of interment.</p>
                    <ul><li>Disposition Permit $12.00</li>
                    <li>Law requires the disposition permit.</li>
                    <li>Certified Copies of the Death Certificate $21.00 each</li>
                    <li>Air trays and combo units $100.00</li>
                    <li>Alternative Cremation Container $50.00</li>
                    <li>Cremation Fee (up to 300lbs) $ 350.00</li>
                    <li>Cremation Fee from 300lbs to 500lbs $ 550.00</li>
                    <li>Witness Cremation $ 400.00</li></ul>

                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="" data-target="#collapse-8">
                        Adult Caskets
                        </a>
                    </h4>
                    <h4 class="panel-title-price">
                        $620+
                    </h4>
                </div><!--//pane-heading-->
                <div id="collapse-8" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p><a href="">Click to Download Casket Price List</a>
                    </div><!--//panel-body-->
                </div><!--//panel-colapse-->
            </div><!--//panel-->
        </div><!--//panel-group-->                                                
    </div><!--//faq-wrapper-->
    <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">                    
        <section class="widget has-divider">
            <h3 class="title">Why College Green Online</h3>
            <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
            <a class="btn btn-theme" href="#"><i class="fa fa-download"></i>Download prospectus</a>
        </section><!--//widget-->
    </aside>
</div><!--//page-row-->