<header class="page-heading clearfix">
    <h1 class="heading-title pull-left">Healthy Living</h1>
    <div class="breadcrumbs pull-right">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
            <li class="current">Healthy Living</li>
        </ul>
    </div><!--//breadcrumbs-->
</header> 
<div class="row page-row">
    <div class="faq-wrapper col-md-8 col-sm-7">              
        <p>
        healthy living page </p>                                                
    </div><!--//faq-wrapper-->
    <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">                    
        <section class="widget has-divider">
            <h3 class="title">Why College Green Online</h3>
            <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
            <a class="btn btn-theme" href="#"><i class="fa fa-download"></i>Download prospectus</a>
        </section><!--//widget-->
    </aside>
</div><!--//page-row-->