<div class="home-page">
<flex-slider id="promo-slider" flex-slide="s in slides track by $index" direction-nav="{{showNav}}">
    <li>
        <img ng-src="{{s.src}}">
        <p class="flex-caption">
            <span class="main">{{s.main_caption}}</span>
            <br />
            <span class="secondary clearfix">{{s.secondary_caption}}</span>
        </p>
    </li>
</flex-slider>
<section class="promo box box-dark">        
    <div class="col-md-9">
    <h1 class="section-heading">Welcome to Beacon Mortuary</h1>
        <p>As a mortuary, we do not have set hours. Death never sleeps. So it is also important the families’ first attention be drawn to our contact information. Via phone number <a href="tel:1-424-324-9474">(424) 324-9474</a> in case they need immediate assistance at an ungodly hour. </p>   
    </div>  
    <div class="col-md-3">
        <a class="btn btn-cta" href="#"><i class="fa fa-play-circle"></i>Apply Now</a>  
    </div>
</section><!--//promo-->
<div id="homepage-bottom"></div>
</div>