<div class="home-page">
<div id="promo-slider" class="slider flexslider" flex-slider>
    <ul class="slides">
        <li>
            <img src="images/beacon-mortuary-home.png"  alt="" />
            <p class="flex-caption">
                <span class="main" >Beacon Mortuary Homepage</span>
                <br />
                <span class="secondary clearfix" >Call us for help.</span>
            </p>
        </li>
    </ul><!--//slides-->
</div><!--//flexslider-->
<section class="promo box box-dark">        
    <div class="col-md-9">
    <h1 class="section-heading">Welcome to Beacon Mortuary</h1>
        <p>As a mortuary, we do not have set hours. Death never sleeps. So it is also important the families’ first attention be drawn to our contact information. Via phone number (424) 324-9474 incase they need immediate assistance at an ungodly hour. </p>   
    </div>  
    <div class="col-md-3">
        <a class="btn btn-cta" href="#"><i class="fa fa-play-circle"></i>Apply Now</a>  
    </div>
</section><!--//promo-->
<section class="awards">
    <div id="awards-carousel" class="awards-carousel carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <ul class="logos">
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <a href="#"><img class="img-responsive" src="images/awards/award1.jpg"  alt="" /></a>
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <a href="#"><img class="img-responsive" src="images/awards/award2.jpg"  alt="" /></a>
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <a href="#"><img class="img-responsive" src="images/awards/award3.jpg"  alt="" /></a>
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <a href="#"><img class="img-responsive" src="images/awards/award4.jpg"  alt="" /></a>
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <a href="#"><img class="img-responsive" src="images/awards/award5.jpg"  alt="" /></a>
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <a href="#"><img class="img-responsive" src="images/awards/award6.jpg"  alt="" /></a>
                    </li>             
                </ul><!--//slides-->
            </div><!--//item-->
            
            <div class="item">
                <ul class="logos">
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <img class="img-responsive" src="images/awards/award7.jpg"  alt="" />
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <img class="img-responsive" src="images/awards/award6.jpg"  alt="" />
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <img class="img-responsive" src="images/awards/award5.jpg"  alt="" />
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <img class="img-responsive" src="images/awards/award4.jpg"  alt="" />
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <img class="img-responsive" src="images/awards/award3.jpg"  alt="" />
                    </li>
                    <li class="col-md-2 col-sm-2 col-xs-4">
                        <img class="img-responsive" src="images/awards/award2.jpg"  alt="" />
                    </li>             
                </ul><!--//slides-->
            </div><!--//item-->
        </div><!--//carousel-inner-->
        <a class="left carousel-control" href="#awards-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#awards-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>

    </div>
</section>
</div>