<header class="page-heading clearfix">
    <h1 class="heading-title pull-left">Merchandise</h1>
    <div class="breadcrumbs pull-right">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li><a ui-sref="app.homepage">Home</a><i class="fa fa-angle-right"></i></li>
            <li class="current">Merchandise</li>
        </ul>
    </div><!--//breadcrumbs-->
</header>
<div class="row page-row">
    <article class="welcome col-md-8 col-sm-7">
        <h3 class="title">Merchandise</h3>
        <p>Prices are effective as of October 15th, 2014 and are subject to change without notice.</p>

        <p>The goods and services shown below are those we can provide to our customers. You may choose only the items you desire. However, any funeral arrangements you select will include a charge for our basic services and overhead. If legal or other requirements mean you must buy any item you did not specifically ask for, we will explain the reason in writing on the statement we provide describing the funeral goods and services you selected. Sales tax will be added to all merchandise selected for use in this state.</p>

        <p>Prior to drafting any contract for goods or services, the responsible party or the decedents’ survivor who is handling the funeral arrangements is entitled to receive a copy of any preneed agreement in the possession of the Funeral establishment that has been signed and paid for, in full or in part, by or on behalf of the decedent.</p>

        <p>View Price Lists:</p>
            <ul>
                <li><a ui-sref="app.caskets">Casket Price List</a></li>
                <li><a ui-sref="app.urns">Urn Price List</a></li>
            </ul>
    </article><!--//page-content-->
    <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
        <section class="widget has-divider">
            <h3 class="title">Consumer Guide</h3>
            <p>The Consumer’s Guide for Funeral and Cemetery Purchases is a resource of information. This guide informs families of their rights when negotiating purchases of goods and services from any Funeral home. Please review this guide.</p>
            <a class="btn btn-theme" href="https://s3.amazonaws.com/beacon-mortuary-assets/consumer_guide.pdf" target="_blank"><i class="fa fa-download"></i>Download Guide</a>
        </section><!--//widget-->
        <section class="widget">
            <h3 class="title">Contact</h3>
            <p class="tel"><i class="fa fa-phone"></i>Tel: <a href="tel:1-424-324-9474">(424) 324-9474</a></p>
            <p class="email"><i class="fa fa-envelope"></i>Email: <a href="mailto:cheryl@beaconmortuary.com">cheryl@beaconmortuary.com</a></p>
        </section><!--//widget-->
    </aside>
</div><!--//page-row-->

