<div class="row-fluid">
    <div class="col-xs-4">
        <div class="form-group">
            <label>
                <select name="type" class="by-type form-control" data-ng-model="filterUrnType">
                    <option value="">--- Filter By Type ---</option>
                    <option data-ng-repeat="n in dataMerch.filters.types | orderBy: 'toString()'" value="{{ n }}">{{n}}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">

    </div>
</div>

<table class="table" style="table-layout: fixed;">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Type</th>
        <th>Width</th>
        <th>Height</th>
        <th>Depth</th>
        <th>Volume</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in dataMerch.items | filter:{ type:filterUrnType }" data-ng-hide="dataMerch == 'undefined'">
        <td>
            <a class="merch-item" href="images/merchandise/full/{{item.img}}" data-lightbox="{{ item.type | slugify }}"><img class="img-responsive" data-ng-src="images/merchandise/thumb/{{item.img}}" alt=""></a>
        </td>
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.width}}</td>
        <td>{{item.height}}</td>
        <td>{{item.depth}}</td>
        <td>{{item.volume}}</td>
        <td>{{item.price | currency}}</td>
    </tr>
    </tbody>
</table>